.back-to-top-btn {
	position: fixed;
    bottom: 10px;
    right: 10px;
    border: 1px solid black;
    height: 50px;
    width: 50px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    color: white;
    cursor: pointer;
}