.news-container {
    pagination-controls {
        text-align: right;
    }
    .pagination ::ng-deep .ngx-pagination .current {
        background: black;
    }
    .news-layout {
        display: flex;
        flex-wrap: wrap;
        row-gap: 2rem;
    }
    
    .news-column {
        width: 100%;
        cursor: pointer;
        padding: 0 1.5rem;
        border: 1px solid #CCC;
    }
    
    .article {
        & + .article {
            padding-top: 2rem;
            margin-top: 2rem;
            border-top: 1px solid #ccc;
        }
    }
    
    .article-img {
        & + * {
            margin-top: 1rem;
        }
        img {
            width: 100%;
        }
        .no-image {
            height: 100px;
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: center;
        }
    }
    
    .article-link {
        color: inherit;
        text-decoration: none;
    }
    
    .article-title {
        font-family: "Fraunces", serif;
        font-weight: 900;
        line-height: 1.25;
        color: #000;
    
        &--large {
            font-size: 2rem;
            & + * {
                margin-top: 1.5rem;
            }
        }
    
        &--medium {
            font-size: 1.5rem;
            & + * {
                margin-top: 0.75rem;
            }
        }
    
        &--small {
            font-size: 1.25rem;
            & + * {
                margin-top: 0.75rem;
            }
        }
    }
    
    .article-link {
        color: inherit;
    }
    
    .mark {
        background-color: #fabea1;
        &--secondary {
            background-color: #c2dddf;
        }
        
        &--tertiary {
            background-color: #F8E177;
        }
    }
    
    .article-author {
        display: flex;
        flex-wrap: wrap;
        margin-top: 1.5rem;
    }
    
    .article-author-img {
        width: 3rem;
        height: 3rem;
        border-radius: 12px;
        background-color: #323232;
        overflow: hidden;
        background-blend-mode: multiply;
    
        & + .article-author-info {
            margin-left: 0.5rem;
        }
    }
    
    .article-author-info {
        line-height: 1.375;
        margin-bottom: 2rem;
        font-size: 16px;
    }
    
    .article-category {
        font-weight: 500;
        margin-bottom: 1rem;
        display: block;
        svg {
            max-width: 1.5rem;
            margin-right: .5rem;
            vertical-align: middle;
        }
        
    }
    
    .article-podcast-player {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        margin-top: 1.25rem;
    }
    
    .podcast-play-button {
        width: 2.25rem;
        height: 2.25rem;
        border-radius: 12px;
        border: 0;
        background-color: #000;
        margin-right: .5rem;
        svg {
            max-width: 1rem;
            max-height: 1rem;
            fill: #FFF;
        }
    }
    
    .podcast-progression {
        flex: 1;
        height: 8px;
        border-radius: 99em;
        background-color: #D9D4CD;
        background-image: linear-gradient(to right, #F99970 30%, #D9D4CD 30%, #D9D4CD 100%)
    }
    
    .podcast-time {
        font-weight: 500;
        font-size: 1.125rem;
        margin-left: .5rem;
    }

}
